<div class="mt-0">
    <h1 class="h4 py-4 border-bottom">Clientes</h1>
    <div class="row m-0 px-0 justify-content-between py-4 border-bottom">
        <div class="row col-12 col-md-8 m-0 p-0 justify-content-between">
            <div class="m-0 p-0 col-12 col-md-5">
                <div class="input-group">
                    <input type="text" class="form-control" aria-label="Pesquisar" aria-describedby="button-addon1" ng-model="vm.filter.search" ng-enter="vm.list()" placeholder="Pesquisar...">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2" ng-click="vm.list()"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary col-12 col-md-2 col-lg-1 my-2 m-md-0" ui-sref="cliente-edit({id: 0})">Novo</button>
    </div> 
    <div class="card" ng-if="vm.isLoading">Carregando...</div>
    <div ng-if="!vm.isLoading" infinite-scroll="vm.list(true)" infinite-scroll-distance="0" infinite-scroll-disabled="vm.filter.scrollDisabled" class="mt-2">
        <table class="caption-top table align-middle mb-0 bg-white table-borderless">
            <caption>{{vm.total}} registro(s)</caption>
            <thead class="bg-light">
                <tr>
                    <th ng-click="vm.changeSortOrder()" class="mouse-pointer">
                        <div class="d-flex justify-content-evenly align-items-end">
                            <p class="m-0">Nome</p>
                            <span ng-show="vm.filter.orderAsc">
                                <i class="fa-solid fa-arrow-down-a-z"></i>
                            </span>
                            <span ng-show="!vm.filter.orderAsc">
                                <i class="fa-solid fa-arrow-down-z-a"></i>
                            </span>
                        </div>
                    </th>
                    <th>Telefone</th>
                    <th>Documento</th>
                    <th>Descrição</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(clientIndex, client) in vm.listModel">
                    <td>{{client.name}}</td>
                    <td>{{client.telephone}}</td>
                    <td>{{client.document}}</td>
                    <td>{{client.description}}</td>
                    <td>
                        <a ui-sref="cliente-edit({id: '{{client.id}}'})" class="pointer-event link-dark"><i class="fa-solid fa-pen-to-square"></i></a>
                    </td>
                    <td>
                        <a ng-click="vm.removeClient(clientIndex)" class="pointer-event link-dark"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>